@import './colors';
@import './screensizes';

*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.048px;
  background-color: $grey;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s;
  line-height: 0;
}

.overlay{
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

// Toast
.toast-notification{
  width: 96% !important;
  text-align: right !important;
  top: 30px !important;
  span{
    border-radius: 5px !important;
  }
}

.alert{
  background-color: $primary;
  padding: 16px;
  border-radius: 8px;
  &-title {
    font-weight: 500;
    color: $text-grey;
  }
}

.table>:not(:first-child){border-top: none !important;}
.table>:not(caption)>*>*{border-bottom: none;}
.cursor-pointer{cursor: pointer}
