@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/screensizes';

.filter {
  padding: 32px;
  background-color: $white;
  border-radius: 8px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  &-title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
  }

  @media only screen and (max-width: $screen-md) {
    padding: 12px;
    &-wrapper {
      grid-template-columns: auto;
    }
  }
}
