@import '../../assets/scss/colors';
@import '../../assets/scss/screensizes';

.home-table {
  margin-left: 24px;
  margin-right: 24px;

  @media(max-width: $screen-md){
    margin-right: 16px;
    margin-left: 16px;
  }
}
