@import '../../assets/scss/screensizes';
@import '../../assets/scss/colors';

.textfield{
  position: relative;
  .icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }
  input{
    padding: 12px;
    outline: none;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: none;
    background-color: $white;
    font-size: 14px;
    letter-spacing: 0.36px;
    &:focus{
      border-color: $primary;
    }
  }
  &.has-icon{
    input{
      padding-left: 40px;
    }
  }
  @media(max-width: $screen-sm){
    input{
      width: 100%;
    }
  }
}
